.carousel {
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 15px 20px 0px #00000077;
    transition: 0.2s;
}

.carousel:hover {
    box-shadow: 15px 20px 0px #000000c5;
    transition: 0.2s;
}

.logoImage {
    background-color: white;
    padding: 10px;
    margin: 20px;
}

.header {
    padding: 5%;
}

.title {
    color: #f4ce14;
}

