.label{
    display:flex;
    flex-direction:column;
    width: 20px;
    cursor:pointer;
}
  
.span {
    background-color: #495e57;    
    border-radius:10px;
    height:2px;
    margin: 2px 0;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.navbarNav {
    padding-left: 5%;
}

.navLink {
    color: #495e57;
}

.navLink:hover {
    color: #495e579c;
}

.navbarToggler {
    outline: none;
    border: none;
}
  
.span:nth-of-type(1){
    width:50%;
}
  
.span:nth-of-type(2){
    width:100%;
}

  
.input[type="checkbox"]{
   display:none;
} 
  
.input[type="checkbox"]:checked ~ span:nth-of-type(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(4px,4px);
    width: 105%;
} 
  
.input[type="checkbox"]:checked ~ span:nth-of-type(2){
    transform-origin:top;
    transform:rotatez(-45deg)
}
