.card {
    background-color: #495e57;
    padding: 5%;
    margin: 0% 5% 5% 5%;
}

.intro {
    padding: 5%;
}

.formInput {
    height: 200px;
    overflow: scroll;
}

.title {
    color: #f4ce14;
}

.textred {
    color: rgb(235, 99, 99);
}
  
.textwhite {
    color: white;
}